<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">

  <link href="{{ site.baseurl }}/assets/css/google-fonts.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css?{{ site.time | date: "%Y%m%j%H%M%S" }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/assets/js/html5.js"></script>
    <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
  <![endif]-->

  <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/assets/favicon.ico" />

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  {% if page.title %}
    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title | xml_escape }}" />
  {% else %}
    <title>{{ site.title }}</title>
    <meta property="og:title" content="{{ site.title | xml_escape }}" />
  {% endif %}

  {% if page.description %}
    <meta name="description" content="{{ page.description | xml_escape }}">
    <meta property="og:description" content="{{ page.description | xml_escape }}" />
  {% else %}
    <meta name="description" content="{{ site.description | xml_escape }}">
    <meta property="og:description" content="{{ site.description | xml_escape }}" />
  {% endif %}

</head>
<body>

<div class="container">
  <div>
    <header role="banner">
       <div style="float:right;">
         <a href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/issues/" style="color: white;" class="button">Discuss</a> | 
         <a href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/{{ page.path }}" class="button" style="color: white;">Edit</a> | 
         <a href="{{ site.baseurl }}/Proposed A-130 for Public Comment.pdf" class="button" style="color: white;">View PDF</a>
       </div>
      <h1>
        <a href="/a130">{{ site.name }}</a>
      </h1>
    </header>
  </div>
 
  <div class="wrap content">
    {% include sidebar.html %}
    
    <article id="main" class="main-content" role="main">
      <div class="usa-alert usa-alert-warning">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading">
            Archive Site
          </h3>
          <p class="usa-alert-text">
            Welcome! This site is archival. It was used to collect feedback from the public on proposed revisions to OMB Circular A-130.  The comment period closed in November 2015. The revised OMB Circular A-130 was released on July 27, 2016. 
            <br/>
            <a href="https://whitehouse.gov/blog/2016/07/26/managing-federal-information-strategic-resource">Read more here.</a>
          </p>
        </div>
      </div>

      {{ content }}
    </article>

  </div>
</div>
{% include analytics.html %}

</body>
</html>
